body {
    background-color: #262b2f;
    color: #ebebeb;
}

.albumList {
    width: 75%;
}

.albumElement {
    width: 100%;
    padding: 10px;
}

.albumElement img {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.albumElement .albumName {
    padding: 10px;
    font-size: 0.9em;
}